; Evita prompt interativo em CI
ignore-scripts=false

; Necessário para o Prisma funcionar corretamente com pnpm
hoist-pattern[]=*prisma*
hoist-pattern[]=@prisma/*
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=@prisma/*
